<div class="add-member-header">
  <h3>Add member to Cognizant COE</h3>
</div>
<div>
  <form>
    <div class="add-member-form">
      <label for="firstname">First Name:</label>
      <input id="firstname" type="text" formControlName="firstname">
      <label for="lastname">Last Name:</label>
      <input id="lastname" type="text" formControlName="lastname">
      <label for="associd">Associate ID:</label>
      <input id="associd" type="text" formControlName="associd">
      <label for="dob">Date of Birth:</label>
      <input id="dob" type="text" formControlName="dob">
      <label for="dob">Date of Birth:</label>
      <input id="dob" type="text" formControlName="dob">
    </div>
    <div class="submit-button">
      <button class="button" type="submit">Cancel</button>
      <button class="button" type="submit">Add member</button>
    </div>
  </form>
</div>
