<div class="img-overlay-wrap">
  <img style="position:obsolute;width:100%; height:100%;" src="../../assets/shutterstock_288287018.jpg" alt="Sv logo">
  <p>Welcome to Service Virtualization COE departement</p>
  <svg height="100" width="300" xmlns="http://www.w3.org/2000/svg"  viewbox="0 0 200 100">
    <g>
      <a href="http://google.com">
      <text x="50%" y="50%" text-anchor="middle" style="font-weight:bold;font-style:italic;" font-size="30" fill="white">Click Here</text>
      <path id="arrow1" d="M 230 30 l 10 10 -10 10 10 0 10 -10  -10 -10-10Z" stroke="#73d974" stroke-width="2" fill="#73d974" />
      <path id="arrow1" d="M 250 30 l 10 10 -10 10 10 0 10 -10  -10 -10-10Z" stroke="#73d974" stroke-width="2" fill="#73d974" />
      <path id="arrow1" d="M 270 30 l 10 10 -10 10 10 0 10 -10  -10 -10-10Z" stroke="#73d974" stroke-width="2" fill="#73d974" />
      </a>
    </g>
  </svg>
</div>
